li {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    margin: 0 16px 16px 0;
    border-radius: 4px;
    overflow: hidden;
 }
  
 .id {
    position: absolute;
    right: 4px;
    top: 2px;
 }
  
 .name {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex: 1;
 }
  
 .button{
    height: 30px;
    width: 100%;
    text-align: center;
    display: flex;
 }
  
 .button>button{
    flex: 1;
    border: none;
   
 }
  
 .green {
    background-color: rgb(36, 246, 253);
 }
  
 .red {
    background-color: rgba(255, 0, 0, 0.801);
 }
 